<p>Congratulations, <span style="font-weight:bold"><%= @game.name %></span>
  was successfully liked.
</p>
<p>Published in <span style="font-weight:bold"><%= @game.year %></span>.</p>
<p>Game ID: <span style="font-weight:bold"><%= @game.id %></span></p>